@media only screen and (min-width: 1200px) {
  .container {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 10px;
  }

  .form {
    display: flex;
    flex-direction: column;
    color: white;
  }

  .button {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 1199px) {
  .container {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 10px;
  }

  .button {
    margin-top: 20px;
  }

  .form {
    display: flex;
    flex-direction: column;
    color: white;
  }
}
