@media only screen and (min-width: 1200px) {
  .image {
    position: static;
    top: 0;
    left: 0;
    min-width: 100%;
  }
}

@media only screen and (max-width: 1199px) {
  .image {
    position: static;
    top: 0;
    left: 0;
    min-width: 100%;
  }
}
