@media only screen and (min-width: 1200px) {
  .containerBox {
    display: flex;
    padding: 0 50px;
    justify-content: space-around;
    flex-direction: row;
  }

  .justifyText {
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }

  .title {
    padding-bottom: 5px;
    color: white;
  }

  .textBox {
    padding-bottom: 10px;
    color: white;
  }

  .contactBox {
    display: flex;
    flex-direction: column;
  }

  .Linha {
    border-bottom: 2px solid #e5e5e5;
    width: 50%;
  }

  .company {
    color: white;
    text-align: center;
    width: 80%;
  }
}

@media only screen and (max-width: 1199px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }

  .company {
    color: white;
    text-align: center;
    width: 100%;
  }

  .LinhaStyle {
    display: flex;
    justify-content: center;
  }

  .Linha {
    display: none;
  }

  .textBox {
    padding-bottom: 10px;
  }

  .containerBox {
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .justifyText {
    display: flex;
    justify-content: center;
  }

  .title {
    color: white;
    text-align: center;
    padding-bottom: 10px;
  }

  .contactBox {
    display: flex;
    flex-direction: column;
  }
}
