@media only screen and (min-width: 1200px) {
  .containerBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  .textBox {
    width: 80%;
  }

  .contactBox {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 1199px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .containerBox {
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .justifyText {
    display: flex;
    justify-content: center;
  }

  .title {
    text-align: center;
  }

  .contactBox {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 800px) {
}
