@media only screen and (min-width: 1200px) {
  .list {
    margin: 0 10px;
  }

  .text {
    text-decoration: none;
    display: flex;
    text-align: center;
  }
}

@media only screen and (max-width: 1199px) {
  .list {
    margin: 0 10px;
  }

  .text {
    text-decoration: none;
    display: flex;
    text-align: center;
  }
}
